/* Style Guide:

<mark> to highlight text

.sectionEnd for space after section

.bodyText for text container

.imageContainer for image container


*/

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: Europa, sans-serif;
    color: #434343;
    scroll-behavior: smooth;
    /* background-color: #F4F3EE; */
}

/* 
@font-face{
    font-family: Goridta;
    src: url(files/fonts/GorditaRegular.otf);
} */

.nav {
    background-color: rgba(255, 255, 255, 0.884);
    /* background-color: #F4F3EE; */
    overflow: hidden;
    margin: 35px 50px 75px 50px;
    /* top right bottom left */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;

}

nav a {
    /* float: left; */
    /* text-align: center; */
    /* padding: 14px 16px; */
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: rgb(66, 66, 66);

}

.nameNav {
    font-size: 25px !important;
}

.flex-row{
    display:flex;
    flex-direction:row;
}

/* vvvv Hover Highlight vvvv */


.rightAlign {
    list-style: none;
    font-size: 23px;
    text-align: right;
}

.navLink {
    position: relative;
    display: inline;
}


.navLink a {
    text-decoration: none;
    /* color: #333; */
    display: inline-block;
    padding: 0 10px 0 10px;
}

.navLink a {
    color: rgba(66, 66, 66);
    transition: color 0.2s ease;
}

.navLink a:hover {
    color: #4AA3A2;
}

.navLink .current {
    color: #4AA3A2;
}

/* .highlight {
    visibility: hidden;
    z-index: -1;
    display: block;
    width: calc(100% - 15px);
    height: 15px;
    background: #4AA3A2;
    position: absolute;
    left: 5px;
    bottom: -2px;
}

.currentHighlight {
    z-index: -1;
    display: block;
    width: calc(100% - 15px);
    height: 15px;
    background: #4AA3A2;
    position: absolute;
    left: 5px;
    bottom: -2px;
    color: #4AA3A2;
}

/* li a:hover {
    visibility: visible;
    color: #4AA3A2;
} */

/* li a:hover~span {
    visibility: visible;
    animation: ul 0.3s ease-out;
    background: #4AA3A2;
} 

@keyframes ul {
    0% {
        width: 0;
    }

    100% {
        width: calc(100% - 15px);
    }
}
*/


/* ^^^^ Hover Highlight ^^^^ */


/* vvvv Tooltip vvvv */

/* change after 820px wide */
#tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

#tooltipText {
    margin-left: 15px;
    text-align: center;
}

#tooltip #tooltipText {
    visibility: hidden;
    /* display:flex;
    flex-direction:row; */
    width: 500px;
    color: #4AA3A2;
    /* color: #fff; */
    text-align: left;
    padding: 3px 0;
    /* padding-left: 5px; */
    border-radius: 6px;
    font-size: 18px;
    font-weight: normal;

    /* Position the tooltip text */
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -1px;
    left: 105%;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
#tooltip:hover #tooltipText {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s;
}

/* ^^^^ Tooltip ^^^^ */


/* vvvv Portfolio Cards vvvv */

.flexTable {
    display: flex;
    flex-wrap: wrap;
}

.row1,
.row2 {
    display: flex;
    flex-direction: wrap;
    width: 100%;
    padding-bottom: 75px;
}

.column1,
.column2 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding-left: 40px;
    padding-right: 40px;
}

.column1 {
    margin-left: 150px;
}

.column2 {
    margin-right: 150px;
}

@media only screen and (min-width:1695px) {
    .column1 {
        margin-left: 20%;
    }

    .column2 {
        margin-right: 20%;
    }
}

.card {
    /* border: 2px solid #ffffff; */
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.26);
    border-radius: 20px;
    top: 0px;
    position: relative;
    top: 10px;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    position: relative;
    top: -10px;
    box-shadow: 0 2px 33px 0 rgba(0, 0, 0, 0.26);
    transition: all 0.2s ease 0s;
    /* start out at position 0 */
    /* transition-property: top, box-shadow
    transition-duration: 10s, 0s; */
}

/* #alarmCard, #nameonicCard, #cssCard{
   grid-column-start:1;
}

#politicoCard, #tastyCard{
    grid-column-start:2;
}

#politicoCard{
    grid-row-start:1;
} */

.cardLink {
    text-decoration: none;
}


#politicoImage,
#cssArtImage,
#nameonicImage,
#houseScoutImage,
#metrikImage {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* #tastyMealImage {
    padding-top: 54px;
    padding-bottom: 55px;
} */

/* .cardSpacer{
    padding-bottom:45px;
} */

.projectType,
.projectDescription {
    padding: 10px;
    padding-right: 15px;
    margin-left: 15px;
    color: rgba(66, 66, 66);
    text-decoration: none;
}


.projectType {
    font-weight: bold;
    font-size: 23px;
    padding-top: 20px;
    padding-bottom: 0 !important;
}

.projectDescription {
    font-size: 20px;
    padding-bottom: 25px;
    padding-top: 5px;
}

@media (max-width:480px) {
    #tooltipText {
        display: none;
    }

    .nav li a,
    .nameNav {
        font-size: 35px;
    }
}

.text {
    color: inherit;
    text-decoration-color: #4AA3A2;
}

.cardText {
    background-color: white;
}

/* ^^^^ Portfolio Cards ^^^^ */

/* vvvv Main Content vvvv */

hr {
    margin-top: 35px;
    margin-bottom: 45px;
    border-color: #4AA3A2;
}

.pageContainer {
    display: flex;
    flex-direction: row;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;

}

.logos {
    width: auto;
    height: 5vh;
    display: block;
    float: left;
    margin-bottom: 25px;
}

.logos3 {
    width: 20%;
    height: auto;
    display: block;
    float: left;
    margin-bottom: 25px;
}

#mockup {
    width: 100%;
    height: auto;
    margin-top: 0;
}

.bodyText {
    width: 50%;
    font-size: 20px;
    text-align: left;
    list-style-position: inside;
    overflow-x: hidden;

}

.bulletColumn2{
    columns:2;
    padding-left:0;
    column-gap:30px;
    list-style:none;
    /* text-align:center; */
}

.bulletColumn3{
    columns:3;
    /* width:100%; */
    padding-left:0;
    column-gap:15px;
    list-style:none;
}

.horizontalFlex{
    display:flex;
    flex-direction:row;
}

.video {
    width: 250px;
    margin: 15px 0 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #4AA3A2;
}

.gif{
    width:auto !important;
    height:auto !important;
}

video {
    height: auto;
    padding-bottom: 15px;
    border-radius: 10px;
}

.videoWide {
    width: 60%;
    margin: 15px 0 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #4AA3A2;
}

caption {
    color: #4AA3A2;
    text-align: center;
}

.breakLink,
.linkBreak {
    word-wrap: break-word;
}

.bodyText p {
    padding-bottom: 10px;
    line-height: 27px;
}

.bodyText li {
    /* text-indent: 40px; */
    padding-bottom: 10px;
}

.bodyText ol,
ul {
    padding-left: 65px;
    list-style-position: outside;
}

.group {
    /* background-color:#EAF4F4; */
    width: 50%;
    float: left;
    list-style-position: outside;
}

.summary {
    width: 100%;
    background-color:
        #f2f2f2;
    display: flex;

}

/*
.horizontal{
    display: flex;
    justify-content:space-between;
    list-style-type: none;
    align-items:center;
} */

.leftContent {
    float: left;
}

.rightContent {
    float: right;
}

.sideBySide {
    width:80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 2rem;
    margin-left: 15px;
    margin-right: 15px;
}


.gridText {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    align-self:center;
    font-size: 22px;
    color: rgb(66, 66, 66);

}

/* .gridText li {
    padding-left: 25px;
    list-style-position: outside;
} */

.sketch {
    border: 1px solid #434343;
    border-radius: 10px;
}

.imageContainer {
    overflow-x: hidden;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 25px;
    color: #4AA3A2;
    margin: 15px 0 25px 0;

}

.imageContainerMed {
    overflow-x: hidden;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 25px;
    color: #4AA3A2;
    /* margin: 15px 0 25px 0; */

}

.imageContainerTop {
    overflow-x: hidden;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    z-index: 1000;
    background-color: white;
    display: flex;
}

.imageContainerTop2 {
    overflow-x: hidden;
    width: 80%;
    justify-content: center;
    align-items: center;
}


.imageContainerTop img {
    overflow-x: hidden;
    border-radius: 10px;
    width: 80%;
}

.imageContainer img {
    overflow-x: hidden;
    width: 80%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.imageContainerShort img {
    overflow-x: hidden;
    height: 40%;
    border-radius: 10px;
}

.imageGroupHorizontal img {
    width: 100%;
}

.imageGroupHorizontal4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 1rem;
    margin-bottom: 15px;
    width:80%;
}

.imageGroupHorizontal3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 1rem;
    width:80%;
}

.imageGroupHorizontal2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

.gridRight{
    justify-self:end;
}

.gridLeft{
    justify-self:start;
}

.imageContainer > a, .imageGroupHorizontal2 > a{
    display:inherit;
}

.imageContainer > a > img{
    display:inline-block;
}

.imageLeftRightText {
    display: flex;
    flex-direction: row;
}

.sketchGroup{
    display:flex;
    flex-direction:column;
    /* width:100%; */
}

.sectionEnd {
    margin-bottom: 50px;
}

.captionSpacer {
    margin-bottom: 35px;
    margin-top: 25px;
}

/* .appBorder img{
    border: 0.5px solid rgba(66,66,66);
    box-shadow: 10px 10px 5px grey;
} */

mark {
    background-color: rgba(113, 216, 214, 0.329);
    color: rgba(66, 66, 66);
    /* line-height:18px; */
}

.underline{
    text-decoration:underline;
}

h1 {
    color: hsl(179, 38%, 46%);
    font-size: 30px;
    margin-bottom: 10px;
}

h2 {
    font-size: 25px;
    color: rgba(100, 100, 100);
    margin-bottom: 10px;
}

h3 {
    font-size: 24px;
    color: #4AA3A2;
    font-weight: bold;
    margin-bottom: 15px;
}

.showcaseHeader{
    color: rgba(66,66,66) !important;
}

h4 {
    font-size: 20px;
    color: #4AA3A2;
    font-weight: normal;
}

article ul {
    margin-top: 10px;
    margin-bottom: 25px;
}

article ul a {
    color: rgba(66, 66, 66);
    text-decoration-color: #4AA3A2;
}

/* article ul a:hover {
    color: #4AA3A2;
} */

.bodyText a {
    color: #4AA3A2;
}

.titleText {
    text-align: center;
    width: 60%;
}

.cssContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.codepenContainer {
    /* top right bottom left */
    margin: 50px 150px 50px 150px;
}

.italic {
    font-style: italic;
}

.bold {
    font-style: normal;
    font-weight: bold;
}

.aboutBlurb {
    color: rgba(66, 66, 66);
}

.classLink {
    color: rgba(66, 66, 66);
    text-decoration-color: #4AA3A2;
}

/* .classLink a{
    color:rgba(66, 66, 66);
    text-decoration-color:#4AA3A2;
} */


/* ^^^^ Main Content ^^^^ */

/* vvvv Hover Highlight Bottom Nav vvvv */

.bottomGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding-left: 0;
}

.bottomGridC {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    padding-left: 0;
}

.bottomGridD {
    display: flex;
    flex-direction: column;
}

.bottomGridC ul:hover {
    color: rgba(66, 66, 66);
}

.bottomNav {
    display: inline-block;
    position: relative;

}

.bottomNav a {
    text-decoration: none;
    /* color: rgba(66, 66, 66); */
    display: inline-block;
    padding: 0 10px 0 10px;
    font-size: 18px;
}

.unselected {
    color: rgb(66, 66, 66);
}

.selected {
    font-weight: bold;
    color: #4AA3A2;
}

.colorFont {
    color: #4AA3A2;
}

/* .highlightB {
    visibility: hidden;
    z-index: -1;
    display: block;
    width: calc(100% - 13px);
    height: 15px;
    background: rgba(74, 163, 161, 0.349);
    position: absolute;
    left: 5px;
    bottom: -4px;
} */

.currentHighlightB {
    z-index: -1;
    display: block;
    width: calc(100% - 13px);
    height: 15px;
    background: rgba(74, 163, 161, 0.349);
    position: absolute;
    left: 5px;
    bottom: -4px;
    /* color: #4AA3A2; */
}

.highlightC {
    visibility: hidden;
    z-index: -1;
    display: block;
    width: calc(100% - 13px);
    height: 15px;
    background: rgba(74, 163, 161, 0.349);
    position: absolute;
    left: 5px;
    bottom: 4px;
}

/* .currentHighlightC {
    z-index: -1;
    display: block;
    width: calc(100% - 13px);
    height: 15px;
    background: rgba(74, 163, 161, 0.349);
    position: absolute;
    left: 5px;
    bottom: 4px;
    /* color: #4AA3A2;
} */

/* .bottomNav a:hover {
    visibility: visible;
    color: #4AA3A2;
} */

/* .bottomNav a:hover~span {
    visibility: visible;
    animation: ul 0.3s ease-out;
    background: rgba(74, 163, 161, 0.349);
} */

.bottomNav a:hover {
    color: #4AA3A2;
}

/* @keyframes ul {
    0% {
        width: 0;
    }

    100% {
        width: calc(100% - 13px);
    }
} */

/* .currentB {
    color: rgb(66, 66, 66);

} */

/* .bottomNav span {
    z-index: -1;
}

.bottomNav a {
    z-index: 1;
} */

/* ^^^^ Hover Highlight Bottom Nav ^^^^ */

/* vvvv Footer vvvv */
.socialIcons ul {
    padding-left: 0;
    margin-bottom: 15px;
}

.socialIcons li {
    list-style: none;
    display: inline-block;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.socialIcons a {
    color: rgba(66, 66, 66);
    transition: color 0.2s ease;
}

.socialIcons a:hover {
    color: #4AA3A2;
}

.footer {
    margin-top: 75px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 16px;
}

footer p {
    padding-top: 10px;
}

/* ^^^^ Footer ^^^^ */


/* vvvv Left Nav vvvv */

.sidebar ul {
    padding: 10px;
}

.sidebar li {
    margin: 0 0 0 20px;
}

.sidebar {
    width: 270px;
    position: fixed;
    left: 0px;
    top: 30%;
    margin-left: 20px;
}

.leftNavStyle {
    list-style-type: none;
    color: rgba(66, 66, 66);
}

.leftNavStyle a {
    color: rgba(66, 66, 66);
    text-decoration: none;
}

.leftNavStyle a:hover {
    color: #4AA3A2;
}

.spacer {
    padding-bottom: 10px;
}

.active {
    font-weight: bold;
    color: #4AA3A2 !important;
}

/* @media (max-width: 1280px) {
    .sidebar {
        width: 200px;
        left: -7%;
        top: 25%;
    }
}
*/
@media (max-width:1000px) {
    .sidebar {
        visibility: hidden;
    }
} 

/* @media (max-width:400px){
    .imageContainerTop2{
        width:auto;
    }

    .imageContainer{
        width:auto;
    }

    .bodyText{
        width:90%;
    }
} */

/* @media(max-height: 680px) {
    .sidebar {
        top: 75px;
    }
} */

@media(max-height:540px) {
    .sidebar {
        visibility: hidden;
    }
}
/* 
@media only screen and (min-device-width : 1500px) {
    .leftNavStyle {
        margin-left: 30px;
    }

} */

/* ^^^^ Left Nav ^^^^ */


.container {
    display: flex;
    flex-direction: row;
    width: 75%;
}

.imageContainerAbout {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* vvvv Mobile Media Query vvvv */
@media only screen and (max-device-width : 480px) {
    nav a {
        font-size: 35px;
    }

    /* nav{
        padding-top:50px;
        position:fixed;
        z-index:1001;
    } */

    body {
        display: flex;
        flex-direction: column;
    }

    .sidebar {
        visibility: hidden;
    }

    .imageContainerTop2 {
        width: auto;
    }

    .imageContainer {
        width: 90%;
        font-size: 25px;
    }

    .bodyText {
        width: 80%;
        font-size: inherit;
    }

    .bodyText p {
        line-height: 35px;
    }

    .footer {
        font-size: 30px;
    }

    .bottomNav a {
        font-size: 30px;
    }

    #tooltipText {
        visibility: hidden;
    }

    #tooltip {
        border: none;
        visibility: none;
    }

    .socialIcons li {
        font-size: 50px;
    }

    .column1,
    .column2 {
        margin-right: 15px;
        margin-left: 15px;
    }


    .projectDescription,
    .projectType {
        padding-right: 15px;
        font-size: 35px;
    }

    .row1,
    .row2 {
        flex-direction: column !important;
        padding: 0 100px 0 100px;
    }

    .column1,
    .column2 {
        padding-bottom: 100px;
    }

    .video {
        font-size: 25px;
    }

    .sectionEnd {
        margin-bottom: 35px;
    }

    .bottomGrid {
        width: 80%;
        /* align-self:center; */
    }

    .footerContainer{
        width:80%;
    }

}

/* ^^^^ Mobile Media Query ^^^^ */

/* vvvvv Projects vvvvv */

.projectsContainer{
    display:grid;
    grid-template-columns: 14% 16% 2% 16% 2% 16% 2% 16% 2% 14%;
    grid-template-rows: auto 3% auto 3% auto 3% auto 3% auto 3% auto 150px;

}

.projectsTitle{
    grid-area: 1 / 2 / 1 / 5;
    align-self:center;
}

.projectImage{
    display: block;
    max-width: 100%;
    height: auto;
    border-radius:16px;
    z-index:999;
}

.astrobeat{
    grid-area: 1 / 6 / 1 / 10;
    width:100% !important;
}

.cornlet{
    grid-area: 3 / 2 / 3 / 5;
}

.astrobeatPaper{
    grid-area: 3 / 6 / 3 / 10;
}

.cssBird{
    grid-column-start:2;
    grid-row-start:7;
}

.cssHand{
    grid-column-start:4;
    grid-row-start:7;
}

.cssToucan{
    grid-column-start:2;
    grid-row-start:9;
}

.cssCaps{
    grid-column-start:4;
    grid-row-start:9;
}

.blenderPlanet{
    grid-area: 5 / 6 / 5 / 10;

.nameonicWireframe{
    grid-area: 5 / 2 / 5 / 5;
}

.relaxationWeb{
    grid-area: 7 / 6 / 10 / 10;
}

.projectImageContainer{
    position:relative;
}

.projectText {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition:  .5s;
    background: #434343B3;
    border-radius:16px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectTextSmall{
    font-size:18px;
}

.projectImageContainer:hover .projectText {
    opacity: 1;
    /* border-radius:16px; */
}

/* ^^^^^ Projects ^^^^^ */


/* vvvvv Animations vvvvv */

.codepenIcon, .emailIcon, .linkedinIcon{
    /* transform: rotateY(180deg); */
    transition-duration: 1s;

}

.codepenIcon:hover{
    color: #4AA3A2;
    transform:rotateY(180deg);
}

.emailIcon:hover{
    color: #4AA3A2;
    animation: email-animation 1s linear;
}

@keyframes email-animation{
    0%{
        transform:rotate(0deg);
    }

    25%{
        transform:rotate(15deg);
    }

    50%{
        transform:rotate(0deg);
    }

    75%{
        transform:rotate(-15deg)
    }

    100%{
        transform:rotate(0deg);
    }
}

.linkedinIcon:hover{
    color: #4AA3A2;
    animation: linkedin-animation 1s ease-out;
}

@keyframes linkedin-animation {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
}

.footerContainer{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.thockContainer{
    margin-top:5px;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}

.thock{
    background-color:#686868;
    height:6px;
    width:25px;
    border-radius:75px;
}

/* ^^^^^^ Animations ^^^^^ */


/* vvvvv Lightbox vvvvv */

.center-lightbox {
    display: flex;
    justify-content: center;
}

.lightbox {
    display: none;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    /* background: rgba(0,0,0,0.6); */
}

.lightbox-bg {
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);

}

.lightbox-img img {
    align-self: flex-start;
    max-width: 90%;
    max-height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    vertical-align: middle;
    padding-bottom: 0 !important;
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
    border-radius: 4px;
    border: 1px solid rgba(34, 36, 38, .15);
    z-index: 1002;
}

.lightbox:target {
    display: block;
}

/* ^^^^^ Lightbox ^^^^^ */